<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--secret key for session management-->
        <add key="SESSION_SECRET" value="welcome" />
    </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />
	</system.web>
	<system.webServer>
		<!--app.js is a node.js application entry point.-->
		<handlers>
			<add name="iisnode"  path="app.js" verb="*" modules="iisnode" />
		</handlers>
        
		<rewrite>
			<rules>
				<rule name="sendToNode">
					<match url="/*" />
					<action type="Rewrite" url="app.js" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>