body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.darkSection {
    width: 100%;
    padding: 42px 0;
    background-color: #262a2e;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 9;
}

.sectionTitleDouble p,
.sectionTitleDouble h2 {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: 400;
    margin: 0;
}
.sectionTitleDouble h2 span{
    color: #ff891e;
}

.sectionTitleDouble p,
.sectionTitleDouble h2 {
    font-size: 20px;
}

.sectionTitleDouble {
    background-image: url(../images/devider.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8px 45px;
}

.header {
    background: #00BCD4;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    font-weight: 100;
}

.header h1 span {
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 700;
}

.header h1 span.punch {
    font-size: 14px;
    line-height: 36px;
    color: #222;
    font-weight: 100;
}
.searchTour{
    position: relative;
}
.searchTour .textbox{
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #4e5153;
    padding: 6px 0;
    margin: 14px 0 0;
    color: #999;
    font-weight: 400;
}
.searchTour span{
    position: absolute;
    font-size: 12px;
    color: #00bcd4;
    top: -14px;
    left: 0;
}
.clocation{
    position: absolute;
    font-size: 12px;
    color: #ff881b;
    top: 9px;
    left: -2px;
}

.buttonCustomPrimary {
    height: 45px;
    line-height: 45px;
    border-radius: 4px;
    background-color: #ff891e;
    text-transform: uppercase;
    color: #ffffff!important;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}
.form-control:focus {
    border-color: #ff891e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(38, 42, 46);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(38, 42, 46);
    color: #fff;
}
.front{
    background:url(../images/akshardham-newdelhi-nightview.jpg);
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: cover;
}
.itemdetails{
    position: relative;
    padding: 0;
}
.itemdetails h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #03A9F4;
}
.itemdetails p{
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    color: #666;
    line-height: 14px;
}
.star{
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 9;
    padding: 3px 7px 2px;
    background: rgba(0, 0, 0, 0.25)
}
.itemdetails .visittime{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 5px;
    background: #8BC34A;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}
.itemdetails .exclude{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 5px;
    background: #9E9E9E;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}
.placelisting{
    overflow-y: auto;
}
.placelisting .row{
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px 0;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.placelisting .row:hover{
    background: #ededed;
    cursor: pointer;
}
